:root {
  --main-bg-color: #2a2a2a;
}

.App {
  text-align: center;
}

.edgeVertical {
  max-width: 20%;
}

.edgeHorizontal {
  max-height: 20%;
}

.edge {
  stroke: white;
  stroke-width: 1;
}

.vertex {
  r: 2;
  fill: white;
  stroke: var(--main-bg-color);
  stroke-width: 2;
}

.vertex:nth-child(2) {
  transform: scale(2);
}
