:root {
  --main-bg-color: #2a2a2a;
}

.App {
  text-align: center;
}

.edge {
  stroke: white;
  stroke-width: 1;
}

.vertex {
  r: 2;
  fill: white;
  stroke: var(--main-bg-color);
  stroke-width: 2;
  pointer-events: all;
  transition: r 0.1s ease-in-out;
}

.vertex:hover {
  r: 3;
}
